{% extends "base.html.twig" %}

{% block body %}
	<ul>
		{% for pokemon in pokemons %}
			<a href="/pokemon/update/{{ pokemon.id }}">
				<li>{{ pokemon.name }}
					<img src="{{pokemon.image}}" alt="{{ pokemon.name }}" width="220px">
				</li>
			</a>
		{% endfor %}
	</ul>
{% endblock %}
